
@import
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
body{
    
    background: white url("city.jpg") right bottom/75px no-repeat fixed ;
           margin: 0;
}


h1{
    
  max-width: 500px;
    text-align:center ;
    margin: auto;
    border-bottom: 5px solid orange;
    padding-bottom: 25px;
    border-radius: 25px;
    font-size: 35px;
    font-weight: 100;
    font-family: font-family:'Roboto Condensed', sans-serif;






}
#menu{
  list-style: none ;
  padding: 0 ;


}
#menu a{
  background-color: blueviolet;
  
  width: 200px ;
  display: block;
  margin: 25px;
  color: white ;
  text-align: center;
  font: italic 400 22px 'Roboto Condensed', sans-serif; 
  text-decoration: none;
  padding: 25px 0;
  border-radius:  25px 0 25px 0;
  float: left;
  
  }
  #menu a:hover{
    border-radius: 0 25px 0 25px;
    text-align: left;
    color: yellow ;

    

  }
  ul{
    clear: both;
  }
  img{
    width: 250px;
    float: right;
   
    border: 2px solid pink;
    border-radius: 10px ;
    box-shadow:  4px 8px 8px black;
    margin: 10px;
  }
  p{
    text-indent: 50px;
    margin-left: 10px;
    text-align: justify;
    line-height: 1.5;
  }
  .qir{
    color:red;
  }
  




}
